<%= form_for(@author) do |f| %>
  
   <% if @author.errors.any? %>
        <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    <% end %>
    
 
  <p> <%= f.label :name, "Name" %></p>
  <p><%= f.text_field :name %>
	
  <p><%= f.label :age, "Age" %></p>
  <p><%= f.text_field :age %></p>
	
 

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
