
<%= form_for(@post) do |f| %>
 
   <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    <% end %>
  
  <p><%= f.label :title, "Title" %></p>
  <p><%= f.text_field :title %></p>
  
  <p><%= f.label :body, "Body" %></p>
  <p><%= f.text_area :body %></p>
  
  <%= f.submit %>
<%end %>