<h1><%= @post.title %></h1>
<div class="entry">
  <%= @post.body %>
</div>

<h2>Comments </h2>

<% @post.comments.each do |comment|
  <p>By: <%= comment.author%></p>
  <div class="commnet">
    <%= comment.body %>
  </div>
  
   <p>
   <%= button_to "delete", [@post, comment], :confirm => "Are you sure?", :method => :delete %>
   </p>

<% end %>

<%=form_for [@post, comment.new] do |form| %>
  <%= form.label :author, "Name"%>
  <%= form.text_field :author %>
  
   <%= form.text_area :body %>
   <%= form.submit %>
 <% end %>