<h1> Signup form </h1>
<form {{action 'save' model on='submit'}}>
  {{input type='text' value=email placeholder='email'}}
   {{input type='text' value=username placeholder='username'}}
  {{input type='text' value=password placeholder='password'}}
  {{input type='text' value=passwordConfirmation placeholder='re-enter your password'}}
  <button type="submit">signup</button>
</form>
